<section class="src-componentes-formulario">
  <div class="jumbotron">
    <h2>Consulta tus notas</h2>
    <hr>

    <form novalidate @submit.prevent="enviar()">
      <!-- Campo email -->
      <div class="form-group">
        <label for="email">Ingrese email</label>
        <input id="email" type="email" class="form-control" v-model="formData.email" @input="formDirty.email=true">
        
        <!-- validación email-->
        <div v-if="!formData.email && formDirty.email" class="alert alert-danger mt-1">
          Campo requerido
        </div>
      </div>

      <!-- Campo password -->
      <div class="form-group">
        <label for="password">Ingrese su contraseña</label>
        <input id="password" type="password" class="form-control" v-model="formData.password" @input="formDirty.password=true">

        <!-- validación password-->
        <div v-if="!formData.password && formDirty.password" class="alert alert-danger mt-1">
          Campo requerido
        </div>
      </div>

      <button 
        class="btn btn-success my-3" 
        :disabled="validarBotonEnvio()"
      >Consultar</button>

    </form>

  </div>

  <div v-if="inscriptos.length">
    <h1>Tus Notas</h1>

    <table class="table table-dark">
    <tr>
      <th>Nota Matemática</th>
      <th>Nota Lengua</th>
      <th>Nota Historia</th>
    </tr>
    <tr v-for="(inscripto, index) in inscriptos" :key="index">
      <td>{{ inscripto.notas.notaMatematica }}</td>
      <td>{{ inscripto.notas.notaLengua }}</td>
      <td>{{ inscripto.notas.notaHistoria }}</td>
    </tr>
    </table>
  </div>
  <h2 v-else class="alert alert-danger">
    No hay notas
  </h2> 

</section>

